/* tag reset */
*{margin: 0;padding: 0;}
.clearfix::before, .clearfix::after{display: block;content:"";clear:both;}

/* layout */
#wrap{width: 1200px; margin: 0 auto;text-align:center;color:#fff;}
#side{float:left; width: 300px; height: 850px; background: #ccc;}
#content{float:left; width: 900px;height: 850px;background: #ddd;}

/* header */
#side .logo{width: 300px; height: 150px;line-height: 150px; background: #999;}
#side .nav{width: 300px;height: 700px;line-height: 700px;background: #888;}

/* banner */
#banner{width: 900px; height: 450px;line-height: 450px; background: #777;}

/* contents */
#contents{}
#contents > div{float: left; width: 33.3333%; height: 300px;line-height: 300px;}
#contents > div.con1{background: #666;}
#contents > div.con2{background: #555;}
#contents > div.con3{background: #444;}

/* footer */
#footer{}
#footer .foot1{float:left;width:200px;height:100px;line-height: 100px;background: #333;}
#footer .foot2{float:left;width:700px;height:50px;line-height: 50px;background: #222;}
#footer .foot3{float:left;width:700px;height:50px;line-height: 50px;background: #111;}